.billSoft{
    padding: 2%;
    width: 100%;
}

.custDetails{
    width: 74%;
    margin:2%;
    float:left;
    padding: 1%
}

.avc{
    justify-content: space-between;
    display: flex;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

.intBill{
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.smallInput{
    width:30%;
    display:flex;
    float:left
}

.billDetail{
    width:20%;
    padding: 1%;
    margin: 2%    ;
}

.billingImg{
    width: 100%;
}

.productDetail{
    width: 74%;
    margin:2%;
    margin-top: 0;
    float:left;
    padding: 1%
}

.addinfo{
    margin-top: 0;
    min-height: 56.5vh;
}

.taxArea{
    display: flex;
    float: left;
}

.taxTitle{
    width:40%
}

.taxVal{
    width:60%
}

.minusmargin{
    margin-top: 0;
}

.dynamicQR{
    transform: rotate(-90deg);
    float:left
}