.billSoft{
    padding: 5%;
    width: 100%;
}

.billingImg{
    display: flex;
    margin-right: calc(50% - 150px);
    margin-left: calc(50% - 150px);
}

.custDetails{
    width: 60%;
    margin:2.5%;
    float:left;
    padding: 1%
}

.billDetail{
    width:30%;
    padding: 1%;
    margin: 2.5%    ;
}

.avc{
    justify-content: space-between;
    display: flex;
    text-align: center;
        background-color: rgba(77, 13, 13, 0);
        color: #000000;

}

.intBill{
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.smallInput{
    width:30%;
    display:flex;
    float:left
}
